.decorEllipse {
    width: 200px;
    height: 200px;
    background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
    position: absolute;
    z-index: 2;
    transform: rotate(11.97deg);
    filter: blur(86px);
}

// .positionLeft {
//     top: 0;
//     left: 0;
// }

// .positionRight {
//     top: 0;
//     right: 0;
// }